*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw;
}

.nav-change-disable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1em;
}

header .navbar .logo {
  font-size: 1.2em;
  color: #fff;
}

header .navbar .logo span {
  color: greenyellow;
}

header .navbar .mob-nav-cta {
  color: #fff;
  font-size: 1.2em;
}

header .navbar .nav-elem {
  display: none;
}

header .navbar .nav-elem ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
  color: #fff;
}

header .navbar .nav-elem ul li {
  list-style: none;
}

header .navbar .nav-elem ul li a {
  text-decoration: none;
  color: inherit;
}

.hero {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/hero-img.jpg") center/cover fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/hero-img.jpg") center/cover fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  -webkit-box-shadow: 10px 10px rgba(255, 255, 255, 0.3);
          box-shadow: 10px 10px rgba(255, 255, 255, 0.3);
}

.hero .hero-content h1 {
  font-size: 3em;
}

.hero .hero-content p {
  font-size: 1.2em;
}

.hero .hero-content button {
  width: 100px;
  height: 50px;
  border: 0;
  background-color: #fff;
}

.blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  gap: 1em;
  background-color: #9c9c9c;
}

.blog-cards .card {
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.9))), url("../img/hero-img.jpg") center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../img/hero-img.jpg") center/cover;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1em;
  color: #fff;
}

.blog-cards .card h1 {
  font-size: 1.8em;
}

.blog-cards .card p {
  text-align: justify;
}

.blog-cards .card button {
  width: 150px;
  height: 50px;
  border: 0;
}

footer {
  height: 100px;
  background-color: #000;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #fff;
}
/*# sourceMappingURL=index.css.map */