* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vmax;
    margin: auto;
}

header {
    background-color: aqua;
}

#header-img {
    width: 50px;
    height: 50px;
}

#logo-img {
    display: inline-block;
    background-color: red;
}

#logo-text {
    display: inline-block;
    background-color: bisque;
}

#nav-div {
    display: inline-block;
    background-color: cadetblue;
}

#nav-elements {
    text-decoration: none;
}